/* .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
} */

.card-img-top {
  min-height:250px;
  /* max-height:200px; */
  object-fit: cover;
}

/* changes the image on the GameSpecs page */
.fit-image{
  width: 100%;
  object-fit: cover;
}
/* height: 300px; only if you want fixed height */

.fit-image-carousel{ 
  height: 60%;
  width: 100%;
  object-fit: scale-down;
}

body {
  padding-top: 75px;
  padding-bottom: 55px;
  height: 100%;
  background: url(./background2.jpg) no-repeat center/cover fixed;
}

html{
  height: 100vh;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.form-group{
  margin: 50px;
  opacity: 0.75;
}

.form-card{
  width: 30vw;
}

.zoom {
  transition: transform .3s; /* Animation */
  margin: 5px;
}

.zoom:hover {
  transform: scale(1.1);
}

.logo {
  width: auto;
  height: 50px;

}

.game-title{
  text-align: center;
  color: white;
  font-size: 300%;
}

.user-reviews{
  font-size: 150%;
  text-align: center;
}

/* .background-container{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  background: url(./background2.jpg) no-repeat center/cover fixed;
} */

.game-specs{
 padding: 1%;
}

.suggested-game-card {
  color: white;
  margin: 2%;
  padding: 2%;
  background-color: rgba(159, 159, 159, 0.6);
}
